.env
node_modules

# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local


supabase/volumes/db/data
supabase/volumes/storage
supabase/.env
supabase/test.http
supabase/docker-compose.override.yml
